.DS_Store
.dev_id
.env
.env.*

.build/
.swiftpm/

GUIForCLI.xcodeproj/
GUIForCLI.xcworkspace/
*.xcworkspace/
Derived/
DerivedData/
xcuserdata/
*.xcuserstate
*.xcresult
.tuist-cache/
Tuist/Dependencies/

out/*
tmp/*
scratch/*
!out/.gitkeep
!tmp/.gitkeep
!scratch/.gitkeep

*.log

WebUI/dist/
WebUI/node_modules/
